.wrapper2 {
  background-color: #1a1a1a;
  position: relative;

  .kvadrat {
    width: 1110px;
    height: 736px;
    background-color: #252525;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
  }
  text {
    display: flex;
    justify-content: center;
  }
  span {
    position: absolute;
    width: 351px;
    height: 150px;
    left: 50%;
    transform: translateX(-50%);
    top: 10px;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 100px;
    letter-spacing: 0.2em;
    color: #b0a7a724;
  }
  .img {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 34px;
    margin-top: 90px;
  }
  h3 {
    position: relative;
    z-index: 1;
    top: 0;
    left: 0;
    margin-top: 105px;
    font-weight: 400;
    font-size: 30px;
    letter-spacing: 0.2em;
    color: #d9d9d9;
    text-align: center;
  }
  p {
    margin-top: 61px;
    letter-spacing: 0.2rem;

    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #a6a6a6;
  }

  .img1,
  .img2 {
    width: 350px;
    height: 270px;
  }
}
